<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /job-search/ 

    # Remove file extension from URLs in the 'pages' folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^pages/([^\.]+)$ pages/$1.php [NC,L]

    # Cache images for one year
    <FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>
