* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.copy-referral-code {
  position: absolute;
  right: 10%;
  top: -17%;
  width: 20px !important;
  cursor: pointer;
}
.header-msg-anim {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.second-header-anim {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.sub-header-anim {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
a {
  text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    padding: 1rem 3rem !important;
    border-radius: 2px !important;
}

.btn a {
    width: 100%;
}

.display-none {
  display: none !important;
}

.head-text {
  color: #40514e !important;
  font-size: 50px;
  text-align: center;
}

.sub-head-text {
  text-align: center;
    margin: 10px 30px 30px;
    width: 100%;
    /* line-height: 30px; */
    color: rgba(168, 211, 27, 0.725);
    font-size: 16pt;
    color: #40514e70;
}

.home-btn {
  border: none;
  padding: 14px 17px;
  border-radius: 10px;
  background: #2f89fc;
  color: white;
  width: fit-content;
  padding: 15px 25px;
}

.home-btn a {
  text-decoration: none;
  color: white;
}



.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  padding-bottom: 10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}


/* ERROR PAGE */

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
}

.error-page img {
  width: 100px;
}

.error-page h1 {
  font-size: 60px;
}

.error-page :nth-child(n) {
  margin: 10px 0px;
}

.error-page button {
  width: 150px;
  height: 45px;
  border: 0px;
  border-radius: 5px;
  background: #2b2b2b;
}

.error-page a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.display-none {
  display: none;
}

nav.nav-search {
  z-index: 9999 !important;
}

nav {
  padding: 10px 60px !important;
  background: white !important;
  font-family: "Poppins", sans-serif !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 99999999 !important;
}

nav * {
  /* border: 1px solid red; */
}

nav .logo {
  color: #2f89fc;
  font-size: 30px;
}
nav img{
  width: 150px;
  height: 50px;
}

.create-job-btn {
  background: #2f89fc;
  border-radius: 50px;
  padding: 10px 25px !important;
}

.create-job-btn a {
  text-decoration: none;
  color: white !important;
}

.hover-elem :nth-child(n) {
  padding: 10px !important;
}

.hover-elem p {
  transition: 0.3s ease;
}

.hover-elem a {
  text-align: none;
  color: rgb(133, 133, 133);
}

.hover-elem p:hover {
  color: #2f89fc;
  background: rgba(65, 105, 225, 0.247);
}

.job-section h1 {
  font-size: 30px !important;
}

.refresh-btn-box {
  width: 100%;
  display: flex;
}

.refresh-btn-box button {
  margin: auto;
  width: fit-content;
  padding: 10px;
  background: none;
  border: none;
  border: 1px dotted #2b2b2b;
  border-radius: 3px;
}

.refresh-btn-box a {
  text-decoration: none;
  color: #2b2b2b;
}

section.welcome-user {
  padding: 20px 60px;
  background: white;
  width: 100%;
  z-index: 999;
}

header#home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover; */
}

/* header#home-header:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(47, 136, 252, 0.3);
} */

header#home-header h1 {
    color:#2f89fc !important;
}

#home-header h1 span {
  background: transparent;
  color: #010101;
}
#home-header .sub-head-div {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.sub-head-div button{
  width: 150px;
  height: 45px;
  margin: 0px 20px;
}

.sub-head-div button.find_job{
  background: none;
  border: 2px solid #2f89fc;
  border-radius: 5px;
}

.sub-head-div p {
  color: #2f89fc;
  font-size: 16pt;
  text-align: center;
  font-weight: 300;
  width: 50%;
}

#home-header .bg-mockup {
  position: absolute;
  top: 50%;
  right: -10%;
  opacity: 0.5;
  transform: rotate(-35deg);
}

.section-form {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-form p,
.section-form a {
  z-index: 99999;
}

#section-form .bg-mockup {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: rotate(-40deg);
  opacity: 0.7;
  width: 300px;
}

.form-jobs {
  padding: 20px 60px;
}

form.search-job-header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(130, 147, 194, 0.336);
  padding: 15px;
  margin: 10px 0px;
  justify-content: space-between;
  border-radius: 10px;
  flex-wrap: wrap;
}

form.search-job-header select,
form.search-job-header input {
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  flex-grow: 1;
  color: rgb(133, 133, 133);
  background: white;
  height: 50px;
}

form.search-job-header button {
  margin-left: 10px;
  height: 50px;
}

.find-job-section {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 60px 60px;
  background: white;
}

.available_services{
  height: 100vh !important;
}


.find-job-section button {
  margin-top: 40px;
}

.search-job {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* background: red; */
}

.search-job :nth-child(1) {
  margin-left: 0px;
}

.exp-box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 2px;
  /* border: 1px solid rgba(192, 192, 192, 0.568); */
  box-shadow: 0 0 45px rgba(0,0,0,.08);
  background-color: #fff;
}

.exp-box h2 {
  font-size: 20px;
  color: #40514e;
  text-align: left;
}

.exp-box p {
  color: #0d6efd;
}

.exp-box a {
  text-decoration: none;
  color: #30e3ca;
  font-size: 16px;
}

.exp-box :nth-child(n) {
  margin: 10px 0px;
}

.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 80px;
  justify-content: center;
}

.services-box {
  background-position: center;
  background-size: cover;
  width: 22%;
  margin: 10px;
  height: 30vh;
  border-radius: 10px;
  position: relative;
  margin: 0px 10px;
}

.find-job-section .responsive .item{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.responsive .services_box{
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(../images/bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive .services_box::before{
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: rgba(46, 46, 46, 0.39);

}

.responsive .services_box h3{
  z-index: 999;
  position: relative;
  color: white;
}

.find-job-section .responsive{
  width: 100%;
}


.services-box h3 {
  font-size: 30px;
}

.services-box .overlay:hover {
  background: rgb(63, 63, 63);
  cursor: pointer;
}

.day-job {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.find-job-section a {
  color: grey;
  text-decoration: none;
}

.day-job-item {
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 100px;
  background-color: rgba(47, 136, 252, 0.06);
  transition: all 0.4s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.day-job-item :nth-child(n) {
  margin: 0px 5px;
}

.day-job-item img {
  width: 13px;
}

.day-job-item:hover {
  border: 1px solid #2f89fc;
}

/* job box */

section.free-jobs {
  padding: 20px 60px;
}

.username-box{
  display: flex;
  align-items: center;
}

input.search-input {
  width: 100%;
  height: 55px;
  border: none;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 10px;
}

.job-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.job-box {
  margin: 15px 0px;
  margin-right: 30px;
  padding: 15px;
  border: 1px solid #40514e25;
  border-radius: 20px;
  background: white;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-height {
  width: 350px;
  height: 300px;
}

.job-height-full {
  margin-left: 60px;
  width: fit-content;
  height: max-content;
}

.job-height-full :nth-child(n) {
  margin: 7px 0px;
}

img.company-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.job-box :nth-child(1) {
  margin-top: 0px !important;
}

h1.job-name {
  font-size: 19px;
  width: 80%;
}

p.company-name {
  width: 70%;
}

p.company-name,
p.salary,
.view-more p {
  font-size: 14px;
}

p.summary {
  color: gray;
  font-size: 12px;
  line-height: 20px;
}

.view-more {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.view-more button {
  font-size: 14px;
}

.view-more h1 {
  width: 100% !important;
}

.view-more button a {
  text-decoration: none;
  color: white;
}

.counter-container {
  width: 100%;
  background: #f5f5f5;
  padding: 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.counter-container .top-circle {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 4px solid rgb(119, 125, 173);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.counter-container .top-circle {
  width: 170px;
  height: 170px;
  background-color: white;
  border: 12px solid rgb(240, 240, 240);
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 1%;
  left: 1%;
  /* transform: translateY(-50%); */
}

.counter-container .counter {
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 3px;
  padding: 20px 10px;
  width: 100%;
  /* height: 300px; */
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 6px;
  transition: all 0.3s ease-in-out;
  border-left: 6px solid #2f89fc;
  text-align: left !important;
}

.counter-container .counter > div, .counter-container .counter > div * {
  padding: 0;
  margin: 0;
}

.counter-container .counter:hover {
  scale: 1.1;
}

.counter .image-box {
  margin-top: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  margin: auto;
  width: 70%;
}

.counter h1 {
  font-size: 38px;
  color: #2b2b2b;
}

.counter p {
  color: #838383;
  font-size: 14px;
}

footer {
  width: 100%;
  padding: 60px;
  font-size: 15px;
  background: rgb(58, 58, 58);
  color: white;
}

footer .footer-logo{
  width: 200px;
}

footer .footer-flex {
  display: flex;
  justify-content: space-between;
  height: max-content;
  margin: 40px 0px;
}
.footer-logo-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-flex .footer-logo-socials h1 {
  font-size: 30px;
}

.footer-socials {
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-socials img {
  width: 20px;
}

footer p {
  font-size: 12pt;
}

footer .footer-terms {
  display: flex;
  align-items: center;
}

.footer-terms :nth-child(n),
.footer-socials :nth-child(n) {
  margin: 0px 10px;
}

.footer-terms :first-child,
.footer-socials :first-child {
  margin-left: 0px;
}

.footer-navigation {
  display: flex;
}

.footer-nav {
  width: max-content;
  padding: 0px 20px;
}

.footer-nav p {
  margin: 20px 0px;
}

.footer-nav :first-child {
  margin-top: 0px;
}

form.fill-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.fill-form a {
  color: #2f89fc;
}

.fill-form .signup-option {
  width: 300px;
  padding: 15px;
  border-radius: 30px;
}

.fill-form :nth-child(n) {
  margin: 6px 0px;
}

.fill-form p {
  font-size: 14px;
}

.fill-form .form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.fill-form input.text-input,
.fill-form select {
  width: 300px;
  padding: 13px;
  border-radius: 5px !important;
  border: none;
  color: gray;
  background: rgb(224, 224, 224);
}

.form-box .check-box {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form-box .check-box p {
  margin-left: 5px;
}

.fill-form textarea {
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.fill-form button {
  font-size: 16px;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  border: none;
  color: white;
  background: #2f89fc;
}

.get-job-info button {
  border: none;
  background: none;
}

.nav-list-three img {
  width: 25px;
  border-radius: 50%;
}

.testimonials {
  margin: 60px 0px;
}

.testimonial-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
}

.testimonial-box img {
  margin: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.testimonial-box h1 {
  font-size: 20pt;
  color: #40514e;
}

.testimonial-flex {
  flex-grow: 1;
  margin: 20px 50px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(231, 231, 231, 0.445),
    -2px -2px 10px rgb(231, 231, 231);
  border-radius: 20px;
}

.testimonial-flex h2 {
  color: #052958;
  font-size: 18px;
}

.testimonial-flex p,
.testimonial-flex h3 {
  color: #40514e;
}

.testimonial-flex p {
  font-size: 16px;
  line-height: 30px;
}

.testimonial-flex :nth-child(n) {
  margin: 10px 0px;
}

.sponsor-box {
  margin: 30px 70px;
}

.sponsor-flex {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor-flex img {
  width: 200px;
  margin: 10px;
}

section.why-choose-us {
  display: flex;
  align-items: center;
}

.margin {
  margin: 30px 70px;
}

.margin-right {
  margin: 0px 70px;
}

.padding-x {
  padding: 0px 70px !important;
}

.why-choose-us .choose-flex {
  width: 50%;
  padding: 60px 55px;
  display: flex;
  flex-direction: column;
}

.why-choose-us .img {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.why-choose-us .img .image-box-one {
  width: 100%;
}

.why-choose-us .img .image-box-two {
  width: 150%;
}

.why-choose-us .flex {
  align-items: flex-end;
  text-align: right;
}

.choose-flex h4 {
  padding: 5px 10px;
  background: #2f89fc;
  color: white;
  border-radius: 40px;
  width: fit-content;
  font-weight: normal;
  font-size: 13px;
}

.choose-flex h1 {
  font-size: clamp(30px, 70px, 80px);
  font-weight: 700;
  width: 100%;
  color: #40514e;
}

.choose-flex-why p {
  color: rgb(53, 53, 53);
  width: 100%;
}

.choose-flex p {
  font-size: 12pt;
}

.choose-flex img{
  width: 25px;
}

.choose-flex-why h1.hidden-slide {
  font-weight: 900;
  font-size: 100px;
}

.choose-flex-why :nth-child(n) {
  margin: 15px 0px;
}

.choose-flex-why .btn, .choose-flex-why .btn a {
  margin: 0px;
}

.reasons {
  background: #052958;
  padding: 30px 20px;
}

.reason-box {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  color: white;
  transition: all 0.3s ease;
}

.reason-box h3 {
  font-size: 20px;
  font-weight: 800;
}

.reason-box p,
.reason-box h3 {
  width: 100%;
}

.reason-box p {
  font-size: 16px;
  font-weight: 500;
}

.reason-box img {
  width: 12px;
  margin-top: 5px;
}

/* .reason-box :nth-child(n) {
  /* margin: 5px 0px; 
} */

.reason-flex{
  margin-left: 20px !important;
}


.subscribee .overlay {
  height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-box {
  background: white;
  border-radius: 20px;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-plans {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.sub-plans .plan {
  padding: 40px;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.plan:hover {
  scale: 1.05;
}

.plan-two {
  margin-left: 30px;
}

.subscribe-box h1 {
  font-size: 25px;
  color: #2f89fc;
}

.subscribe-box h3 {
  color: #2b2b2b;
  margin: 7px 0px;
  font-size: 17px;
}

.subscribe-box p {
  color: #696969;
  margin: 7px 0px;
}

body.create-job-form {
  height: max-content;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  flex-direction: column;
}

.create-job-form form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.create-job-form .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background: white;
  z-index: 999;
  position: sticky;
  top: 0%;
}

.pagination-items .item :nth-child(n),
.pagination-items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6px;
  text-align: center;
  color: #838383;
  font-size: 13px;
  background: none;
  border: none;
}

.pagination-items .item {
  width: max-content;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.pagination-items .item:hover {
  opacity: 0.7;
}

.pagination-items .item :nth-child(1) {
  border-radius: 50%;
  background: #2f89fc;
  color: white;
  padding: 10px;
  height: 35px;
  width: 35px;
}

.jobs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

.jobs-container .creat-job-form-fill {
  width: 550px;
  height: max-content;
  background: white;
  border-radius: 10px;
  border: 1px solid #40514e70;
  margin-top: 20px;
}

.creat-job-form-fill h1 {
  width: 100%;
  background: #40514e70;
  padding: 20px;
  text-align: left;
  color: #ffff;
  font-size: 14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.creat-job-form-fill .form-create {
  width: 100%;
  height: max-content;
  padding: 20px 40px;
}

.creat-job-form-fill .form-create .input-box {
  display: flex;
  width: 100%;
  align-items: flex-start;
  color: #40514e;
  flex-direction: column;
}

.creat-job-form-fill .form-create .input-box :nth-child(n) {
  margin: 10px;
  font-size: 14px;
}

.creat-job-form-fill .input-box input,
.creat-job-form-fill .input-box textarea,
.creat-job-form-fill .input-box select {
  width: 100%;
  padding: 20px;
  border: 1px solid #40514e70;
  border-radius: 5px;
}

.radio-container {
  flex-grow: 1;
}

.radio-box {
  display: flex;
  flex-wrap: wrap;
}

.radio-box .radios {
  display: flex;
  align-items: center;
}

.creat-job-form-fill select {
  color: #40514e70;
}

.sucess-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.sucess-form h2 {
  text-align: center;
}

.sucess-form :first-child {
  margin: 10px 0px;
}

.sucess-form .btn-box {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-started-parent {
  padding: 70px;
  display: flex;
}

.get-started {
  margin: auto;
  width: 100%;
  background: #052958;
  border-radius: 20px;
  padding: 40px 60px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.get-started :nth-child(n) {
  margin: 5px;
}

.get-started button {
  background: white;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  width: fit-content;
}

.get-started h1 {
  font-size: 45px;
  font-weight: 700;
}

.get-started p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  width: 60%;
  margin-bottom: 30px;
}

.get-started button {
  border-radius: 2px;
}

.get-started button a {
  color: #2f89fc;
  text-decoration: none;
}

.get-started img {
  position: absolute;
  right: 5%;
  bottom: 0%;
  width: 250px;
}

section.overview-job-box {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-box {
  display: flex;
  height: max-content;
}

.overview-job-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

.overview-job-flex p {
  font-size: 12pt;
  color: #40514e70;
  width: 300px;
}

.overview-job-flex :nth-child(n) {
  margin: 10px 0px;
}

.overview-job-flex img {
  width: 80%;
}

.text-align-right {
  text-align: right;
}

.overview-job-flex-item h2 {
  color: #40514e;
  font-size: 20pt;
}

.contact-page {
  background: #f5f5f5;
}

.contact-page .form-layout {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 400px 250px;
}

.layout-parent {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layout-box {
  width: 75%;
  background: white;
  display: flex;
  height: inherit;
  align-items: center;
}

.layout-box-child {
  background: rgb(61, 61, 61);
  width: 400px !important;
  margin-left: -200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

.layout-box-child h1 {
  font-size: 25px;
}

.layout-box-child p {
  line-height: 25px;
}

.layout-box-child img {
  width: 20px;
  margin: 10px;
}

.layout-box-child img:nth-child(2) {
  margin-left: 0px;
}

.layout-form {
  width: 80%;
  height: inherit;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

.layout-form form {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
}

.contact-page p {
  font-size: 15px;
  line-height: 20px;
}

.layout-form form .form-box :nth-child(n) {
  margin: 5px 0px;
}

.layout-form form input,
.layout-form form textarea {
  border: none;
  width: 100%;
  border: 1px solid #b9b9b9;
  padding: 2px;
  border-radius: 5px;
  padding: 5px;
}

.layout-form form input {
  height: 40px;
}

.layout-form form button {
  color: white;
}

.edit-profile-page {
  height: 100vh;
  background: white;
  display: flex;
}

.section-edit-form,
.section-edit-form-img {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-profile-page form {
  width: 90%;
}

.edit-profile-page .edit .edit-flex {
  display: flex;
  flex-wrap: wrap;
}

.section-edit-form img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.edit-flex .box {
  width: 50%;
  margin: 5px 0px;
  position: relative;
}

.edit-flex .box p {
  font-size: 14px;
}

.edit-flex input,
.edit-flex select {
  height: 45px;
  width: 95%;
  border-radius: 5px;
  border: none;
  border: 1px solid silver;
  padding: 5px;
}

.edit-flex .box :nth-child(n) {
  margin: 5px 0px;
}

.edit .edit-btn {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.edit .edit-btn :nth-child(n) {
  margin: 0px 5px;
}

.edit .edit-btn :first-child {
  margin-left: 0px;
}

.edit button {
  width: max-content;
  height: 43px;
  border-radius: 6px;
  border: none;
  background: #2f89fc;
  color: white;
  padding: 7px;
}

.edit button a {
  text-decoration: none;
  color: white;
}

/* ABOUT US PAGE */

section.about-us {
  padding: 40px 60px;
}

.about-us .header-text {
  margin: 80px 40px;
  text-align: center;
  font-size: 70px;
  color: rgb(45, 50, 59);
}

.about {
  display: flex;
}

.about-flex,
.about-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.about-flex h1 {
  font-size: 50px;
  color: #40514e;
}

.about-flex p {
  font-size: 20px;
  margin: 40px 0px;
  line-height: 30px;
  color: #40514e70;
}

.about-flex form {
  display: flex;
  flex-direction: column;
}

.about-flex form :nth-child(n) {
  margin: 20px;
}

.about-flex form button,
.about-flex form input,
.about-flex select {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.about-flex form input {
  border: 1px solid rgb(32, 40, 57);
}

.about-flex form textarea {
  border-radius: 5px;
  padding: 10px;
}

.about-flex form button {
  background: rgb(32, 40, 57);
  color: white;
  border-radius: 5px;
}

.about-flex form .check-box {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.about-flex form :nth-child(n) {
  margin: 5px 5px;
}

.about-box {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2f89fc;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.about-box h1 {
  font-size: 50px;
}

.about-box h1,
.about-box p {
  text-align: center;
  color: white !important;
}

.about-box p {
  line-height: 30px;
  font-size: 20px;
  margin: 40px 50px;
}

.about-box img.about-mockup{
  position:absolute;
  top: 70%;
  left: 40%;
  width: 300px;
  opacity: .9;
}

/* post sections */

section.post-section {
  padding: 30px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-parent{
  width: 100%;
}

section.career-body{
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(243, 243, 243);
}

section.article_body{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .article_box{
  margin: 15px 0px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(192, 192, 192, 0.61);
}

.article_box a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  text-decoration: none;
  color: unset;
}

/* .article_box h1, .article_box p{
  margin: 0px 10px;
} */

.article_box-body {
  padding: 15px;
}

.article_box h1{
  font-size: 20px !important;
  line-height: 25px;
}

.article_box p{
  color:white;
  background: #052958;
  padding: 10px;
  border-radius: 2px;
  width: fit-content;
  margin-bottom: 10px;
}

.article_box img{
  width: 100%;
  height: 32vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.article_box h1{
  font-size: 28px;
}

.notification_box{
  width: 85%;
  background: white;
  margin: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 5px 5px silver;
}

.notification_flex{
  display: flex;
  align-items: center;
}

.notification_box button{
  background: #2f89fc;
}

.notification_box .bell{
  width: 70px;
  height: 70px;
  background: rgb(129, 129, 129);
  border-radius: 50%;
  display: flex;
  padding: 10px;
}

.bell img{
  margin: auto;
  width: 100%;
}

.notification_head{
  margin-left: 20px;
}

.notification_box button{
  font-size: 15px;
}



@media only screen and (max-width: 850px) {

  .btn-primary {
    padding: 1rem;
  }

  .sub-head-div button{
    width: 130px;
    height: 45px;
    margin: 0px 10px;
  }

  .head-text {
    font-size: 35pt;
  }

  .sub-head-text {
    width: 100%;
    font-size: 10pt;
  }

  nav {
    padding: 20px 20px !important;
  }

  .ham-burger {
    display: flex;
  }

  .nav-list {
    display: none;
    width: max-content;
  }

  .nav-list :nth-child(n) {
    margin: 10px 0px;
    height: max-content;
  }

  header#home-header {
    height: 100vh;
    justify-content: flex-start;
    padding: 0px 20px;
  }

  #home-header .header-msg {
    margin-top: 100px;
  }

  #home-header .bg-mockup {
    position: absolute;
    top: 70%;
    right: unset;
    transform: rotate(0deg);
    width: 250px;
  }

  #home-header .sub-head-div {
    flex-direction: column;
    padding: 20px 0px;
  }

  #home-header .sub-head-div a {
    width: 100%;
    margin-top: 10px;
  }

  .sub-head-div p {
    width: 100%;
    font-size: 17px;
  }

  section.free-jobs {
    padding: 20px 20px;
  }


  .counter-container {
    padding: 40px 30px;
  }

  .counter-container .counter {
    width: 100%;
    margin: 10px;
  }

  .counter h1 {
    font-size: 30px;
    color: #2b2b2b;
    margin-top: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .counter p {
    text-align: center;
    color: #838383;
    font-size: 15px;
  }

  .why-choose-us {
    flex-direction: column;
  }

  .margin {
    margin: 30px 30px;
  }

  .margin-right {
    padding: 0px 30px !important;
  }

  .available_services{
    height: 70vh !important;
  }

  .why-choose-us{
    padding: 0px !important;
  }
  .choose-flex-why h4{
    display: none;
  }

  .testimonials .head-text {
    font-size: 29pt;
  }

  .padding-x {
    padding: 0px 30px !important;
  }

  .choose-flex-why h1{
    text-align: center;
  }

  .why-choose-us .choose-flex {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
  }

  .why-choose-us .choose-flex h1 {
    text-align: center;
    font-size: 20px;
  }

  .why-choose-us .choose-flex p {
    text-align: justify;
    font-size: 14px;
  }
  

  .reason-box{
    width: 100%;
  }

  .reason-flex h3, .reason-flex p{
    text-align: left !important;
    width: 100% !important;
  }

  .reason-flex{
    margin-left: 10px !important;
  }
  

  .coloumn-reverse {
    flex-direction: column-reverse;
  }

  .form-jobs {
    padding: 20px 20px;
  }

  section.overview-job-box {
    padding: 40px 20px;
  }

  .overview-box {
    flex-direction: column;
  }

  .overview-job-flex p {
    width: 100%;
  }
  .overview-job-flex img {
    width: 100%;
  }

  .overview-job-flex-item {
    text-align: left;
  }

  .overview-job-flex-item h2 {
    width: 100%;
  }

  .overview-job-flex-item-right {
    text-align: left;
  }

  .search-job-header {
    flex-direction: column;
    align-items: flex-start !important;
    height: unset !important;
    margin: 20px 0px;
  }

  .search-job-header select {
    width: 200px;
  }

  .search-job-header button {
    margin: 10px 10px;
    height: inherit;
  }

  .find-job-sub-header {
    text-align: center;
  }

  .search-job {
    align-items: center;
  }
  .services-container {
    padding: 20px 0px;
  }

  .services-box {
    width: 40%;

  }

  .services-box h3 {
    font-size: 20px;
  }

  .job-box {
    width: 100%;
  }

  .job-height-full {
    width: fit-content;
    height: max-content;
    margin: 20px 30px;
  }

  .find-job-section {
    padding: 50px 20px;
  }

  .find-job-section h1 {
    font-size: 30px;
  }

  .exp-box {
    margin: 5px;
  }

  section.welcome-user {
    padding: 40px 20px;
  }

  .welcome-user h1 {
    font-size: 20px !important;
  }

  .sponsor-flex img {
    width: 100px;
    margin: 10px;
  }

  .jobs-container .creat-job-form-fill {
    width: 450px;
  }

  .creat-job-form-fill .form-create {
    padding: 20px 20px;
  }

  .testimonial-box {
    flex-direction: column;
    padding: 40px 5px;
  }

  .testimonial-box img {
    width: 60px;
    height: 60px;
  }

  .testimonial-flex {
    margin: 5px 3px;
    padding: 20px 5px;
    box-shadow: 0px 0px 0px rgba(231, 231, 231, 0.445),
      0px 0px 0px rgb(231, 231, 231);
    text-align: center;
  }

  .get-started {
    padding: 40px 20px;
  }

  .section-edit-form {
    width: 100%;
  }

  .section-edit-form-img {
    display: none;
  }

  .reverse-flex {
    flex-direction: column-reverse;
  }

  .get-started h1 {
    font-size: 20pt;
    width: 100%;
  }

  .get-started :nth-child(n) {
    margin: 5px;
  }

  .get-started p {
    font-size: 14px;
    width: 100%;
  }

  .get-started img {
    display: none;
  }

  .get-started button {
    font-size: 13px;
  }

  footer {
    padding: 20px 40px;
  }

  footer .footer-flex {
    margin: 10px 0px;
    flex-direction: column;
  }

  .footer-logo-socials :nth-child(n) {
    margin-top: 20px;
  }

  footer p {
    font-size: 13px;
  }

  .footer-terms :nth-child(n),
  .footer-socials :nth-child(n) {
    margin: 0px 10px;
  }

  .footer-terms :first-child,
  .footer-socials :first-child {
    margin-left: 0px;
  }

  .footer-navigation {
    display: flex;
  }

  .footer-nav {
    width: max-content;
    padding: 20px 0px;
  }
  .footer-navigation .footer-nav-second {
    margin: 0px 20px;
  }

  .footer-nav p {
    margin: 15px 0px;
  }

  .footer-nav :first-child {
    margin-top: 0px;
  }

  section.about-us {
    padding: 40px 10px;
  }

  .about-us h1{
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
  }

  .header-text {
    font-size: 50px;
    color: #40514e !important;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about-flex,
  .about-img {
    width: 100%;
  }

  .about-flex h1 {
    font-size: 45px;
  }

  .contact-page .form-layout {
    padding: 350px 50px;
  }

  .layout-box {
    width: 100%;
    border-radius: 5px;
  }

  .layout-box-child {
    display: none;
  }

  .layout-form {
    padding: 0px 20px;
  }

  .contact-page p {
    font-size: 14px;
    line-height: 15px;
  }

  .jobs-container .creat-job-form-fill {
    width: 350px;
  }

  .username-box h1{
    font-size: 24px !important;
  }
  section.career-body{
    padding: 60px 10px;
  }

  .article_box{
    width: 30%;
    margin: 5px;
    height: 50vh;
  }
 
  .article_box h1{
    font-size: 20px;
  }

  .article_box p{
    font-size: 13px;
  }

  .article_box img{
    width: 100%;
    height: 28vh;

  }

  .notification_box{
    flex-direction: column;
  }
  .notification_flex button{
    width: 100%;
  }

  .notification_flex{
    width: 100%;
  }

  .notification_box p{
    font-size: 13px;
  }


  .notification_box .bell{
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  
  
}

@media only screen and (max-width: 414px) {

  nav img{
    width: 100px;
    height: 35px;
  }
  .typewriter h1 {
    white-space: wrap; /* Keeps the content on a single line */
  }

  #home-header .bg-mockup {
    top: 75%;
  }

  .counter-container .counter {
    width: 100%;
  }

  .get-started-parent {
    padding: 20px;
    display: flex;
  }

  .get-started img {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 100px;
  }

  .get-started button {
    padding: 8px;
  }

  .username-box{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .username-box li{
    margin-left: 0px !important;
  }

  .footer-terms :nth-child(n),
  .footer-socials :nth-child(n) {
    margin: 0px 5px;
  }

  .footer-terms :first-child,
  .footer-socials :first-child {
    margin-left: 0px;
  }

  .exp-box {
    width: 100%;
    height: 200px;
  }

  .contact-page .form-layout {
    padding: 350px 30px;
  }

  .layout-box {
    width: 100%;
    border-radius: 5px;
    height: 60vh;
  }

  .layout-form form {
    height: 50vh;
  }



  .article_box{
    width: 80%;
    margin: 5px;
    height: 50vh;
  }

  footer .footer-logo{
    width: 100px;
  }


}
